/**
 * sass/family/categories/index.scss
 */

@import "~Css/variables";

.list-group {
  margin-bottom: 20px;
}

.sort-handle {
  float: right;
  padding: 6px;
  cursor: move;
}

.inactive-categories {

  color: #666;

  a {
    color: #666;
  }
}

.sortable-ghost {
  background-color: $primary-blue;

  a {
    color: #fff !important;
  }
}
