/**
 * family/cash-flow-plans/show.scss
 */
@import "~Css/variables";

.tab-pane {
  padding-top: 15px;
}

.section {
  border: 1px solid $light-gray-border;
  padding: 15px;
  margin-bottom: 20px;
  @include shadow;

}

button.card-footer {
  cursor: pointer;
  color: #007bff;

  border-style: solid;

}
button.card-footer:active,
button.card-footer:hover {
  color: #0056b3;
}

.recurring-expenses-list,
.piggy-bank-contributions-list {
  display: none;
}

.expense-group,
.piggy-bank {
  a:hover {
    text-decoration: none;

    h3 {
      text-decoration: underline;
    }
  }
}

.print-body {
  .table {
    thead {

      font-weight: bold;

      td {
        border-top: none;
      }
    }
  }
}
