/**
 * sass/_variables.scss
 */

// Body
$body-bg: #f5f8fa;
$light-gray-border: #ddd;


// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$blue-text-color: #1373ff;

$primary-blue: #1373ff;

$gray-text-color: #6c757d;

$red-text-color: #c00;

// Borders
$nav-active-color: #ff393c;
$nav-inactive-color: #ff8983;

$subtle-highlight: #e3f3ff;

// Utilities
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@mixin shadow() {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

@mixin paddedBr($height) {
  display: block;
  margin-top: $height;
  content: " ";
}

.noselect {
  @include noselect();
}
