/**
 * assets/sass/admin.scss
 */

@import "variables";

h1 {
  border-bottom: 1px solid $light-gray-border;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.scroll-top-container {
  padding-top: 7px;
}
