/**
 * sass/family/money-matters/nav.scss
 */

.settingsItem {

  cursor: pointer;
  
  .settings-hidden {
    display: none;
  }

  .settings-shown {
    display: inline;
  }
}

.settingsItem.settingsActive {
  .settings-hidden {
    display: inline;
  }
  .settings-shown {
    display: none;
  }
}

.settings-item {
  padding-left: 30px;
}

.mm-nav-scroll-top-container {
  top: 60px;

  .family-inactive &,
  .in-support-mode & {
    top: 125px;
  }

  .family-inactive.in-support-mode & {
    top: 190px;
  }
}
