/**
 * sass/family/money-matters/welcome.scss
 */

.first-run-wizard {

  .wizard-navigation-button {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 8px;
    margin-right: 8px;
  }

  h2 {
    border-bottom: 1px solid #c3c3c3;
  }


  p {
    br {
      margin-bottom: 1.5em;
    }
  }

  p.note {
    border-left: 3px solid #6666c9;
    margin: 15px;
    padding: 6px 6px 6px 18px;
    color: #444;
  }

  .wizard-page:not(#wizard_page_1) {
    display: none;
  }

  .wizard-navigation-button {
    display: none;
  }

  .introduction {

    div {
      padding: 15px;
    }

    h3 {
      margin-bottom: 1em;
    }
  }
}


