/**
 * sass/component/pageMenu.scss
 */

.page-menu-container {
  float: right;
  position: relative;

  .dropdown-trigger {
    cursor: pointer;
    border: 1px solid #000;
    padding: 3px;
  }

  .dropdown-content {
    position: absolute;
    top: 25px;
    right: 0;
    width: 200px;
    border: 1px solid #1373ff;
    color: #fff;
    z-index: 2;
    list-style-type: none;
    margin: 0;
    padding: 0;

      a {
        text-decoration: none;
      }

      a:hover {
        //text-decoration: none;
      }

      li {
        color: #fff;
        background-color: #1373ff;
        padding: 10px;
      }

      li:hover {
        color: #1373ff;
        background-color: #fff;
      }

      a:not(:last-child) li {
        border-bottom: 1px solid #fff;
      }
  }

}
