/**
 * sass/component/pageMenu.scss
 */

.page-menu-container {
  float: right;
  position: relative;

  .dropdown-trigger {
    cursor: pointer;
    border: 1px solid #1373ff;
    color: #fff;
    background-color: #1373ff;
    padding: 3px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: -20px;
    right: -15px;
    width: 200px;
    border: 1px solid #1373ff;
    background-color: #1373ff;
    color: #fff;
    z-index: 2;
    margin: 0;
    padding: 0 0 0;

    border-bottom-left-radius: 10px;

      .dropdown-trigger {
        border-color: #fff;
        position: absolute;
        top: 20px;
        right: 15px;
        padding: 2px 3px 4px 3px;
      }

      ul {
        list-style-type: none;
        margin: 0;
        margin-top: 60px;
        padding: 0;
      }

      li {
        padding: 0;
        color: #fff;
        background-color: #1373ff;
        border-top: 1px solid #fff;

        a,
        label {
          display: block;
          text-decoration: none;
          color: #fff;
          padding: 10px;
          margin: 0;
        }
      }

      li:hover {
        background-color: #fff;

        a,
        label {
          color: #1373ff;
        }

        label.delete-label {
          color: $red-text-color;
        }
      }

      li:last-child {
        border-bottom-left-radius: 10px;
      }
  }

}
