/**
 * family/home.scss
 */
@import "~Css/variables";

h2 {
  text-align: center;
}

img.family-photo {
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
  color: #000;

}

.card:hover {
  text-decoration: none;
}

.component-link {
  h5 {
    border-bottom: 1px solid $light-gray-border;
    padding-bottom: 3px;
    padding-left: 4px;

    span {
      margin-right: 8px;
    }
  }
}
