/**
 * sass/family/taskLists.scss
 */

@import "~Css/variables";

.isOverdue {
  background-color: #fff0f0;
}

.taskList {
  background-image: url("/img/task_list.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 250px;
  border: none;
  color: #000;
}

.taskList:hover {
  text-decoration: none;
}

.taskList .card-title {
  font-weight: bold;
}

.taskList.isDueToday {

  color: $blue-text-color;

  .dueDate {
    font-weight: bold;
  }
}

.isOverdue .dueDate {
  color: $red-text-color;
}


// TaskList show screen

.task .dueDate {
  color: $gray-text-color;
}

.task.isOverdue .dueDate {
  color: $red-text-color;
}

.task.isDueToday .dueDate {
  font-weight: bold;
}

.completedTasks {
  .task a {
    text-decoration: line-through;
  }
}

.inactiveTasks {
  .task a {
    color: $gray-text-color;
    text-decoration: line-through;
  }
}
