/**
 * sass/family/taskLists.scss
 */

.isOverdue {
  background-color: #fff0f0;
}

.taskList {
  background-image: url("/img/task_list.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 250px;
  border: none;
  color: #000;
}

.taskList:hover {
  text-decoration: none;
}

.taskList .card-title {
  font-weight: bold;
}

.isOverdue .dueDate {
  color: #c00;
}


// TaskList show screen

.completedTasks {
  p.task a {
    text-decoration: line-through;
  }
}

.inactiveTasks {
  p.task a {
    color: #666;
    text-decoration: line-through;
  }
}
