/**
 * sass/family/calendar/calendar.scss
 */

@import "~Css/variables";

table.calendar {

  width: 100%;
  table-layout: fixed;
  margin-top: 7px;

  td {
    border: 1px solid black;
    height: 70px;
    vertical-align: top;
  }

  td.empty-cell {
    background-color: #e9e9e9;
  }

  thead td {
    height: 35px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: var(--light);
    background-color: var(--dark);
  }
}
