/**
 * family/member/home.scss
 */
@import "~Css/variables";

/*

h2 {
  text-align: center;
}

img.family-photo {
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
  color: #000;

}

.card:hover {
  text-decoration: none;
}
*/
