/**
 * sass/family/piggy-banks/index.scss
 */

.piggy-bank {

  margin-bottom: 15px;

  a {
    text-decoration: none;

    :hover {

      h5 {
        text-decoration: underline;
      }

    }

  }

}
